@import '~antd/dist/antd.css';

html {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	overflow: hidden;
	height: auto;
}
.ant-layout-sider-zero-width-trigger {
	top: 0;
}
.ant-layout.ant-layout-has-sider > .ant-layout,
.ant-layout.ant-layout-has-sider > .ant-layout-content {
	overflow: hidden;
}

body {
	background: #b9d870;
	min-width: 1100px;
	/* height: 60em; */
	margin: 0 auto;
	overflow: hidden;
}

.logo {
	height: 5.7vmin;
	padding: 0 15px;
	pointer-events: none;
	background: rgba(255, 255, 255, 0.2);
	/* margin: 16px; */
}
.MainHeader {
	height: 70px;
	border-bottom: 5px solid #faad14;
}
.RightMenu {
	float: right;
}
.MainSider {
	/* height: 100vh; */
}
.MainContent {
	margin: 20px;
	padding: 20px;
}
.MainFooter {
	background: #001529;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.MainLayout {
	/* height: 200vh; */
	overflow: hidden;
	background: transparent;
}

/******Media Queries ******/

@media only screen and (min-width: 801px) {
	body {
		background: #b9d870;
		font-size: 20px;
		/* height: 200em; */
	}
	.MainLayout {
		height: 200vh;
		overflow: hidden;
		/* height: 100%; */
	}
	.RightMenu {
		display: flex;
		float: right;
	}
	.MainSider {
		/* height: 200vh; */
	}
}
@media only screen and (max-width: 800px) {
	body {
		background: #ff4d4f;
		overflow: hidden;
		font-size: 20px;
		height: 200em;
	}
	.RightMenu {
		display: flex;
		float: right;
	}
	.MainSider {
		height: 200vh;
	}
}
@media only screen and (max-width: 550px) {
	body {
		background: #096dd9;
		overflow: hidden;
		font-size: 30px;
		height: 200em;
	}
	.RightMenu {
		display: flex;
		float: right;
	}
	.MainSider {
		height: 200vh;
	}
}
@media only screen and (max-width: 500px) {
	body {
		background: #faad14;
		overflow: hidden;
		font-size: 30px;
		height: 200em;
	}
	.MainLayout {
		height: 200vh;
		overflow: hidden;
		height: 100%;
	}
	.RightMenu {
		display: flex;
		float: right;
	}
	.MainSider {
		height: 300vh;
	}
}
@media only screen and (max-width: 360px) {
	body {
		background: #ff7875;
		overflow: hidden;
		font-size: 30px;
		height: 200em;
	}
	.MainLayout {
		height: 200vh;
		overflow: hidden;
		height: 100%;
	}
	.RightMenu {
		display: flex;
		float: right;
	}
	.MainSider {
		height: 400vh;
	}
}
